   <!--Add Board-->
  <div id="add-board" role="dialog" class="modal fade" >
    <div class="modal-content text-center" div id="logbox">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="signup-heading" id="add-a">Add A List</h4>
        <div class="image-preview well"></div>
        <div class="input-class">
          <p class="label-title">Title:</p>
          <input class="form-control formInput" id="title" name="title" required="required"/>
          <p class="label-source">Source (http link):</p>
          <input class="form-control formInput" id="image" name="img-link" placeholder="img link here" required="required" />
          <button class="btn formAdd" id="upload-btn">Upload</button>
          <button class="btn formAdd" id="cancel">Cancel</button>
        </div>
      </div>
</div>